<%- include("../partials/header") %>

<div id="edit-comment-form" class="container w-50">
	<h1 class="display-4 text-center">Edit comment</h1>
	<form action="/campgrounds/<%= campground_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
		<div class="form-group">
			<label for="inputCommText">Comment text:</label>
			<input type="text" class="form-control" id="inputCommText" name="comment[text]" value="<%= comment.text %>">
		</div>		
		<button type="submit" class="btn btn-primary btn-block my-4">Submit</button>
	</form>
	<a href="/campgrounds/<%= campground_id %>">Go Back</a>
</div>

<%- include("../partials/footer") %>