<%- include("../partials/header") %>

<div class="container">
	<div class="row">
		<!-- <div class="col-lg-3">
			<p class="lead">YelpCamp</p>
			<div class="list-group">
				<li class="list-group-item active">Info1</li>
				<li class="list-group-item">Info2</li>
				<li class="list-group-item">Info3</li>
			</div>
		</div> -->
		<div class="col-lg-12">
			<div class="card">
  				<img src="<%= campground.image %>" class="card-img-top" alt="campground image">
  				<div class="card-body">
					<h5 class="float-right">$<%= campground.price %> / night</h5>
    				<h4 class="card-title"><%= campground.name %></h4>
    				<p class="card-text"><%= campground.description %></p>
					<p class="blockquote-footer">Submitted By <cite title="Source Title"><%= campground.author.username %></cite></p>
    				<% if (curUser && campground.author._id.equals(curUser._id)) { %>
						<a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-sm btn-warning">Edit</a>
						<form class="d-inline" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
							<button class="btn btn-sm btn-danger">Delete</button>
						</form>
						<a class="btn btn-sm btn-success float-right" href="/campgrounds/<%= campground._id %>/comments/new">Add New Comment</a>
					<% } %>	
  				</div>
			</div>			
			
			<% campground.comments.forEach(comment => { %>
				<div class="card my-2">
					<div class="card-header">
						<%= comment.author.username %>
						<span class="float-right"><%= Math.floor( (Date.now() - comment.date) / (1000 * 60 * 60 * 24) ) %> days ago</span>
					</div>
					<div class="card-body">
						<p class="card-text"><%= comment.text %></p>
						<% if (curUser && comment.author._id.equals(curUser._id)) { %>
							<a href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit" class="btn btn-sm btn-warning">Edit</a>
							<form class="d-inline" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
								<button class="btn btn-sm btn-danger">Delete</button>
							</form>
						<% } %>
					</div>
				</div>	
			<% }) %>	
		</div>
	</div>
</div>

<%- include("../partials/footer") %>